@using _3M.Helpers
@using _3M.Services
@inject NotificationManager NotificationManager
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/packages/bootstrap-v4-rtl/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/fonts/sahel.css" rel="stylesheet" />
    <link href="~/css/3M.css" rel="stylesheet" />

    @RenderSection("Styles", false)

    <title>@ViewData["Title"] 3M</title>
</head>
<body dir="rtl" style="background: white;">

    @await Component.InvokeAsync("TopMenu")

    <div class="container-fluid mt-2">
        <div class="container mb-2">
            @if (NotificationManager.Get() is Notification message)
            {
                <div class="alert alert-@(message.Type) alert-dismissible fade show" role="alert">
                    @(message.Message)
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
        <div class="container-fluid mb-2">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mb-4">در رابطه با فروشگاه</h5>
                    <p>به زودی در این مکان یه چیزی نوشته میشود</p>
                    <p>
                        همون چیزی که قراره نوشته شود
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mb-4">در رابطه با ما</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <a href="#!">شرکت ها</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">تماس با ما</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">پیشنهادات و انتقادات</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#!">جوایز و افتخارات</a>
                            </p>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                    <!-- Contact details -->
                    <h5 class="font-weight-bold text-uppercase mb-4">آدرس</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p>
                                <i class="fas fa-home mr-3"></i> ایران - تهران
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-envelope mr-3"></i> mm.mirvakili@yahoo.com
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-phone mr-3"></i> 09109230973
                            </p>
                        </li>
                       
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                    <!-- Social buttons -->
                    <h5 class="font-weight-bold text-uppercase mb-4">شبکه های اجتماعی</h5>

                    <!-- Facebook -->
                    <a type="button" class="btn-floating btn-fb">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!-- Twitter -->
                    <a type="button" class="btn-floating btn-tw">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- Google +-->
                    <a type="button" class="btn-floating btn-gplus">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <!-- Dribbble -->
                    <a type="button" class="btn-floating btn-dribbble">
                        <i class="fab fa-dribbble"></i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>