@model _3M.ViewModels.Sales.CartListViewModel
@{
    ViewData["Title"] = "Index";
}

    <div>
        <div class="card">
            <div class="row m-3">
                <div class="col-lg-8">
                    <table class="table">
                        <thead>
                        <th>ردیف</th>
                        <th>محصول</th>
                        <th>قیمت محصول</th>
                        <th>تعداد</th>
                        <th>مبلغ</th>
                        <th>عملیات</th>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.CartItems.Count; i++)
                            {
                                <tr>
                                    @{ var cartItem = Model.CartItems[i]; }
                                    <td>@(i + 1)</td>
                                    @if (!cartItem.IsValid)
                                    {
                                        <td colspan="4">
                                            <span class="text-danger">@cartItem.InvalidReason</span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a asp-controller="Products" asp-action="Details" asp-route-product="@cartItem.ProductKey">
                                                @cartItem.ProductName
                                            </a>
                                        </td>
                                        <td>@(cartItem.ProductPrice.ToString("#,##0")) تومان</td>
                                        <td>@cartItem.Count</td>
                                        <td>@(cartItem.ItemPrice.ToString("#,##0")) تومان</td>
                                    }
                                    <td>
                                        <a class="btn btn-danger" asp-action="Remove"
                                           asp-route-productId="@cartItem.ProductId">حذف</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">مبلغ کل</div>
                            <div class="card-text text-danger">
                                <span style="font-size: 1.5em;">@Model.TotalPrice.ToString("#,##0")</span>
                                تومان
                            </div>
                            @if (Model.CartItems.Any())
                            {
                                <a asp-controller="Checkout" asp-action="Index"
                                   class="btn btn-primary" style="min-width: 100px;">نهایی کردن خرید</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
